.container {
    font-family: Arial;
    margin-left: 27%;
    width: 50vw;
    height: 90vh;
}

h1 {
    margin-left: 220px;
    font-size: 32px;
}

.userInput {
    font-family: Arial;
    position: relative;
    margin-left: 40px;
    padding: 20px;
    border: none;
    background-color: #f9f9f9;
}

#novoItem {
    font-family: Arial;
    font-size: 16px;
    padding:15px;
    background-color: #f9f9f9;
    border: none;
    width: 70%;
}


#inserir {
    font-family: Arial;
    font-size: 16px;
    font-weight: bolder;
    background-color: white;
    padding:15px;
    border: none;
    position: absolute;
    right: 10px;
    top: 19px;
    width: 20%;
}

#inserir:hover{
    color: white;
    background-color: lightgray;
    cursor: pointer;
}

.li {
    font-size: 16px;
    position: relative;
    margin-top: 10px;
    list-style-type: none;
    padding: 20px;
    background-color: #f1f1f1;
}

.remover {
    font-family: Arial;
    font-size: 16px;
    font-weight: bolder;
    background-color: white;
    padding:15px;
    position: absolute;
    margin: 5;
    border: none;
    right: 10px;
    top: 5px;
}

    .remover:hover {
        color: white;
        background-color: red;
        cursor: pointer;
    }